footer {
  background-color: hsla(218, 100%, 43%, 1);
  color: hsla(0, 0%, 100%, 1);
  padding-bottom: 2rem;
}

.footer {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  width: 7rem;
}

.footer p {
  font-weight: 500;
}

.footer h4 {
  margin-bottom: 0.6rem;
}

.each-footer a {
  display: block;
  color: hsla(0, 0%, 100%, 1);
}

.each-footer p {
  font-weight: 400;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials img {
  width: 1.5rem;
}

.address {
  width: 200px;
  line-height: 1.6;
}

.copyright {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 0.5rem;
}

/*    min-width:769px and max-width:900px     */

@media (max-width: 768px) {
  footer {
    padding-bottom: 3rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 0 3rem 0;
  }

  .each-footer {
    margin-bottom: 2rem;
  }

  .footer-logo {
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .address {
    width: 180px;
    line-height: 1.6;
  }

  .footer {
    display: flex;
    gap: 2rem;
  }
}
