body {
  overflow-x: hidden;
}

.home {
  padding-top: 80px;
}

.background-img {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../assets/hero-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.hero-content {
  text-align: center;
}

.top-tier {
  position: relative;
}

.top-tier::before {
  content: '';
  position: absolute;
  background-color: hsla(218, 100%, 43%, 1);
  width: 100%;
  height: 0.3rem;
  bottom: -5px;
  border-radius: 2px;
}

.hero-content h1 {
  color: hsla(0, 0%, 100%, 1);
  font-size: 4rem;
  z-index: 2;
  margin-bottom: 1.5rem;
}

.hero-content p {
  color: hsla(0, 0%, 100%, 1);
  font-size: 1.4rem;
  line-height: 1.8;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

.what-we-can-do {
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
}

.what-we-can-do h2 {
  text-align: center;
  color: hsla(240, 8%, 15%, 1);
  font-size: 3.5rem;
  margin: 7rem auto 4rem auto;
  width: 90%;
  text-transform: uppercase;
}

.services {
  font-size: 10rem;
  font-weight: 700;
  position: absolute;
  top: -50px;
  left: -3rem;
  z-index: -2;
  color: hsla(0, 0%, 85%, 0.2);
  user-select: none;
}

.what-we-can-do-content {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.content-text p {
  max-width: 600px;
  line-height: 1.9;
  font-size: 1.1rem;
  color: hsla(240, 8%, 15%, 1);
}

.content-text p:not(:last-child) {
  margin-bottom: 2rem;
}

.content-img {
  display: flex;
  align-items: center;
}

/* adjust sizes */

.women-img img {
  max-width: 600px;
}

.man-img img {
  max-width: 600px;
}
/* adjust sizes */

/*       WHY CHOOSE US SECTION         */

.reason-to-choose-us {
  background-color: hsla(215, 73%, 94%, 1);
  max-width: 1600px;
  padding: 4rem 0rem 5rem 0rem;
  width: 100%;
  margin: 0 auto 4rem auto;
}

.reason-to-choose-us h3 {
  text-align: center;
  font-size: 3rem;
  color: hsla(240, 8%, 15%, 1);
  margin: 0rem auto 4rem auto;
  width: 90%;
}

.reasons {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.each-reason img {
  margin-bottom: 2rem;
  width: 5rem;
}

@media (max-width: 768px) {
  .what-we-can-do-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-text p {
    text-align: center;
  }

  .reasons {
    flex-direction: column;
  }

  .each-reason {
    margin-bottom: 3rem;
  }

  .services {
    font-size: 7rem;
  }

  /* .women-img {
    display: none;
  } */
}

@media (min-width: 769px) and (max-width: 1200px) {
  .what-we-can-do-content {
    display: flex;
  }
  .women-img {
    display: none;
  }
}

@media (max-width: 500px) {
  .hero-content p {
    padding: 0rem 1rem;
  }

  .services {
    font-size: 5rem;
  }

  .hero-content h1 {
    font-size: 3.5rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .reason-to-choose-us h3 {
    font-size: 2.6rem;
  }

  .what-we-can-do h2 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .home {
    padding-top: 40px;
  }

  /* .hero-content h1 {
    font-size: 2.5rem;
  } */
}
