.main {
  width: 100%;
}

nav {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 1);
  padding: 1.5rem 0rem;
  z-index: 2;
}

.nav-shadow {
  width: 100%;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: -1px 7px 5px -4px rgba(35, 35, 41, 0.2);
  -webkit-box-shadow: -1px 7px 5px -4px rgba(35, 35, 41, 0.2);
  -moz-box-shadow: -1px 7px 5px -4px rgba(35, 35, 41, 0.2);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo {
  width: 7rem;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  width: 2.2rem;
  height: 0.2rem;
  background-color: hsla(240, 8%, 15%, 1);
}

.burger div:not(:last-child) {
  margin-bottom: 0.3rem;
}

.nav-links a {
  color: hsla(240, 8%, 15%, 1);
  font-size: 1.2rem;
  position: relative;
}

.nav-links a::before {
  content: '';
  position: absolute;
  background-color: hsla(218, 100%, 43%, 1);
  width: 100%;
  height: 0.2rem;
  border-radius: 2px;
  bottom: -10px;
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links a:hover::before {
  bottom: -7px;
  opacity: 1;
}

.nav-links a:hover {
  color: hsla(218, 100%, 43%, 1) !important;
}

.nav-links a:not(:last-child) {
  margin-right: 4rem;
}

@media (max-width: 767px) {
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    /* inset: 10% 10% 15% 15%; */
    top: 82px;
    right: 1px;
    height: 40vh;
    width: 60%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
  }
  .nav-links a:not(:last-child) {
    margin: 0 0 2rem 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  visibility: visible;
  opacity: 1;
}

.toggle .one {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .two {
  opacity: 0;
}

.toggle .three {
  transform: rotate(45deg) translate(-5px, -6px);
}
