.product-container {
  padding-top: 100px;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.product-container h1 {
  text-align: center;
  color: hsla(240, 8%, 15%, 1);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.loans {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.loans .circle {
  width: 2rem;
  height: 2rem;
  background-color: #0052dc;
  border-radius: 50%;
}

.loans h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.products-flex {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 7rem;
}

.products-flex img {
  max-width: 60%;
}

.loan-text-p p:not(:last-child) {
  margin-bottom: 1rem;
}

.loan-text-p {
  padding: 2rem 2rem 0rem 2.5rem;
}

.loan-text {
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 0px 5px 6px rgba(35, 35, 41, 0.05);
  -webkit-box-shadow: 0px 0px 5px 6px rgba(35, 35, 41, 0.05);
  -moz-box-shadow: 0px 0px 5px 6px rgba(35, 35, 41, 0.05);
  border-radius: 8px;
  line-height: 1.9;
}

.loan-text ul {
  padding: 2rem 3rem 3rem 4rem;
}

ul li:not(:last-child) {
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .products-flex {
    flex-direction: column;
  }

  .column {
    flex-direction: column-reverse;
  }

  .personal-loans img {
    max-width: 70%;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .products-flex {
    flex-direction: column;
  }
  .column {
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .products-flex img {
    max-width: 100%;
  }
}
