:root {
  --color-blue: hsla(218, 100%, 43%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-dark: hsla(240, 8%, 15%, 1);
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}

.carousel {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
